<header class='header'>
  <div class="header_inner">
    <div class='nav'>
      <div class='nav-left'>
        <%= link_to image_tag("header.png", class:"cafe-icon"), root_path %>
      </div>
      <% if user_signed_in? %>
        <div class='nav-right'>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-logout" %>
          <%= link_to 'New Note', new_note_path, class: "nav-btn" %>
        </div>
      <% else %>
        <div class='nav-right'>
          <%= link_to 'ログイン', user_session_path, class: "nav-btn" %>
          <%= link_to 'User登録', new_user_registration_path, class: "nav-btn" %>
        </div>
      <% end %>  
    </div>
  </div>
</header>